footer {
    background-color: #38506c;
    .address {
        color: lightgray;
        font-size: 13px;
        &__logo {
            img {
                width: 50%;
                height: 90px;
                object-fit: cover;
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 100%;
                }
            }
        }
        &__location {
            @media (min-width: 320px) and (max-width: 767px) {
                padding: 20px;
            }
        }
        &__number {
            @media (min-width: 320px) and (max-width: 767px) {
                padding: 0px 20px 20px 20px;
            }
        }
    }
    .navigate {
        list-style: none;
        padding-left: 0;
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        margin-bottom: 35px;
        li {
            a {
                font-size: 13px;
                font-weight: bold;
                color: lightgray;
                padding-bottom: 5px;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 10px;
                }
            }
            .active {
                border-bottom: 2px solid #b04f4f;
            }
        }
    }
    .subscribe_form {
        width: 100%;
        box-shadow: 0px 2px 5px 0px rgba(10, 6, 20, 0.24);
        &:focus {
            outline: none;
        }
        .form-control {
            border: none;
            &:focus {
                box-shadow: none;
            }
        }
        input {
            height: 40px;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
        button {
            border: none;
            height: 40px;
            background-color: #b04f4f;
            color: #fff;
            margin: -1px;
            border-radius: 0;
            width: 105px;
            position: relative;
            transition: all ease 0.3s;
            -webkit-transition: all ease 0.3s;
            -moz-transition: all ease 0.3s;
            -o-transition: all ease 0.3s;
            -ms-transition: all ease 0.3s;
            &:hover,
            &:focus,
            &:active,
            &:visited {
                color: #fff;
                background-color: #b04f4f;
                outline: none;
                transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                -ms-transition: all ease 0.3s;
                &:before {
                    background-color: #b04f4f;
                    transition: all ease 0.3s;
                    -webkit-transition: all ease 0.3s;
                    -moz-transition: all ease 0.3s;
                    -o-transition: all ease 0.3s;
                    -ms-transition: all ease 0.3s;
                }
            }
            &:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                height: 1px;
                background-color: #b04f4f;
                width: 100%;
                transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                -ms-transition: all ease 0.3s;
            }
        }
        .input-group-btn:last-child>.btn,
        .input-group-btn:last-child>.btn-group {
            margin-left: -1px;
        }
    }
    .company-social {
        display: flex;
        align-items: center;
        margin: 12px 0px;
        @media (min-width: 320px) and (max-width: 767px) {
            margin-bottom: 30px;
        }
        a {
            background-color: lightgray;
            border-radius: 50%;
            transition: all 0.4s;
            &:hover i {
                color: lightgray;
            }
            &:hover {
                background-color: #38506c;
            }
            i {
                color: #38506c;
                font-size: 13px;
                text-align: center;
                width: 20px;
            }
        }
    }
    .subscribe {
        color: lightgray;
        font-weight: bold;
        text-align: right;
        margin-top: 25px;
    }
    .copyrights {
        background-color: darken($color: #38506c, $amount: 8);
        text-align: center;
        color: #eef5;
        padding: 15px 0px;
        font-size: 15px;
        position: relative;
        &__call {
            position: absolute;
            top: -25%;
            right: 3%;
            @media (min-width: 320px) and (max-width: 767px) {
                top: -80%;
            }
            &__request {
                background-color: white;
                color: #38506c;
                border-radius: 30px;
                padding: 10px 12px;
                font-size: 14px;
                margin-right: 5px;
                &:hover {
                    background-color: #38506c;
                    color: white;
                    border: 1px solid white;
                }
            }
            &__icon {
                background-color: #b04f4f;
                padding: 15px 8px;
                border-radius: 50%;
                img {
                    width: 35px;
                    transform: rotateY(180deg);
                    -webkit-transform: rotateY(180deg);
                    -moz-transform: rotateY(180deg);
                    -ms-transform: rotateY(180deg);
                    -o-transform: rotateY(180deg);
                }
            }
        }
    }
}