.slider {
    .carousel {
        &-item {
            height: 100vh;
            background-image: url("../assets/b.g photo.jpg");
            background-size: cover;
            background-attachment: fixed;
            @media (min-width: 320px) and (max-width: 992px) {
                background-size: inherit;
                background-position: 40% 13%;
            }
            &.active,
            &-next,
            &-prev {
                display: flex;
                align-items: center;
            }
            &-container {
                @include respond-min(mobile) {
                    width: 40%;
                    margin-left: auto;
                    margin-right: 10%;
                    .carousel-item-text {
                        width: 50%;
                    }
                }
                .carousel-item {
                    &-text {
                        border-top: 1.5px solid #5d6b7e;
                        padding: 2rem 0;
                        @media (min-width: 320px) and (max-width: 992px) {
                            padding: 2rem 1rem;
                        }
                    }
                    &-heading {
                        color: #38506c;
                        font-size: 25px;
                        font-weight: bold;
                        @media (min-width: 320px) and (max-width: 992px) {
                            font-size: 20px;
                        }
                    }
                    &-sub__heading {
                        font-size: 18px;
                        color: #38506c;
                        @media (min-width: 320px) and (max-width: 992px) {
                            font-size: 16px;
                        }
                    }
                    &-box {
                        background: #eef5ff;
                        height: auto;
                        width: auto;
                        font-size: 15px;
                        padding: 10px 15px;
                        align-self: flex-start;
                    }
                }
                .carousel-indicator {
                    list-style: none;
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    li {
                        padding: 1rem 0 0;
                        color: #5d6b7e;
                        border-top: 1.5px solid #5d6b7e;
                        font-size: 15px;
                        max-width: 30%;
                        cursor: pointer;
                        @media (min-width: 320px) and (max-width: 992px) {
                            font-size: 13px;
                        }
                        &.active {
                            color: #38506c;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        &-control {
            position: absolute;
            background: #eef5ff;
            bottom: 0;
            right: 10%;
            .btn {
                border-radius: 0;
                padding: 16px 24px;
                &:hover {
                    transition: 0.2s all;
                    background: #b04f4f;
                    i {
                        color: white;
                    }
                }
                i {
                    font-size: 1.5rem;
                    color: gray;
                }
            }
        }
        .social__links {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            @media (min-width: 320px) and (max-width: 992px) {
                top: 82%;
            }
            img {
                @media (min-width: 320px) and (max-width: 992px) {
                    width: 45px;
                }
            }
        }
    }
}